/* change the colors */



p {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}