
p {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.display-4 {
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
}

h5 {
    font-family: 'Lato', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.btn {
    background-color: #907cb4 !important;
    border-color: #907cb4
}

.btn:hover {
    background-color: #8370a7 !important;
    border-color: #8370a7;
}

.active {
    background-color: #907cb4 !important;
}




.thumbnail:hover {
    position:relative;  
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
    display:block;
    z-index:999;
    border-radius:5px;
    border:1px solid #abb0b9;
}

.thumbnail {
    transition:transform 0.25s ease;
}

footer {
    font-family: 'Lato', sans-serif !important;
}